.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.left-aside {
    height: 372px;
    width: 372px;
    outline: solid black 1px;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    height: 100%;
    width: 100%;
}
.right-aside {
    width: 50%;
    text-align: left;
    padding-left: 40px;
}

.about-title {
    color: #e5e5e5;
}