.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fca311;
}
.home-innerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    min-width: 90%;
    background-color: #14213d;
    margin: 32px;
    padding: 50px;
}

#borderLeft {
    border-left: 10px solid #fca311;
    position: absolute;
    height: 30%;
    top: 110px;
    left: 26px;
    border-radius: 25px;
}
#borderTop {
    border-top: 10px solid #fca311;
    top: 110px;
    width: 20%;
    position: absolute;
    border-radius: 25px;
    left: 26px;
}
#borderRight {
    border-right: 10px solid #fca311;
    position: absolute;
    height: 30%;
    bottom: 65px;
    border-radius: 25px;
    right: 26px;
}
#borderBottom {
    border-bottom: 10px solid #fca311;
    bottom: 65px;
    width: 20%;
    position: absolute;
    right: 26px;
    border-radius: 25px;
}


.list {
    padding: 20px;
}
.list li {
    list-style: none;
    text-align: left;
}
.list li a {
    text-decoration: none;
    color: #ffdea9;
}
/* hover effect for projects on home page */
.list li {
    transition: all 0.3s;
    padding: 5px;
}
.list li:hover {
    transform: translateX(8px);
    border-bottom: #fca311 solid 0.5px;
}
.home-box {
    display: flex;
    flex-direction: column;
}

.home-projects {
    border-top: solid #fca311 1px;
    border-left: solid #fca311 1px;
    border-top-left-radius: 15px;
    padding: 30px;
}
.home-projects label h4 {
    font-size: 24px;
}

.home-welcome {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    width: 80%;
    line-height: 40px;
}
.home-welcome p {
    color: #ffdea9;
}

.left {
    width: 70%;
    padding-left: 14%;
    font-size: 20px;
}
.right {
    width: 30%;
    padding-right: 14%;
}

.home-projects-title {
    text-align: center;
}