.resume-image-container img {
    height: 100px;
}

.resume-image-container {
    display: flex;
    padding-bottom: 5px;
    height: 100%;
}

.resume-label {
    font-size: 24px;
    outline: solid black 1px;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #e4e4e4;
}

.resume-label a {
    margin-top: 10px;
}

.resume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.skill-list li {
    list-style: none;
    text-align: left;
    padding: 10px;
}

.resume-left-aside {
    display: flex;
    flex-direction: column;
    width: 50%;
    outline: solid black 1px;
    margin: 20px;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 20px;
}
.skill-list li:hover {
    background-color: black;
    margin-right: 40px;
    color: white;
}

.resume-right-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 100px;
}

.resume-title {
    color: #e5e5e5;
}